.container-njoro{
    margin-top: 30px
}
.card{
    margin: 15px;
}

.btn{
    margin: 5px;
}
njoro{ align-self: autos}
h1{
    text-align: center;
    color: antiquewhite;

}
h2{
    color: aliceblue;
}